/* Custom styles to override Ant Design search button */
.ant-input-search-button {
  background-color: #3b7b7a !important;
  border-color: #3b7b7a !important;
  color: #fff !important;
}

.ant-input-search-button:hover {
  background-color: #336b6a !important;
  border-color: #336b6a !important;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.job-filter-section {
  background: linear-gradient(
    90deg,
    rgba(59, 123, 122, 0.8),
    rgba(252, 91, 115, 0.8)
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 1.5s ease;
}

.job-filter-section:hover {
  background: linear-gradient(
    90deg,
    rgba(252, 91, 115, 0.8),
    rgba(59, 123, 122, 0.8)
  );
}
